/* stylesheet.css */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/*  default tag style  */
body {
	/*font: 20px Montserrat, sans-serif;*/
	font: 20px 'Noto Sans KR'; line-height : 1.8;
	color: #555555;
	line-height: 1.8;
	margin: 0 auto;
}

div {
	margin: 0 auto;
	text-align: center;
}

table {
	margin: auto;
}

th, td {
	text-align: center;
}

h1, h2, h3 {
	font-family: 'Noto Sans KR';
	font-weight: 900;
	margin-bottom: 30px;
}

h4, h5, h6 {
	font-family: 'Noto Sans KR';
	font-weight: 500;
}

p {
	font-size: 16px;
}

textarea {
	resize: none;
}

input::placeholder {
	color: #cccccc;
}

input:focus::placeholder {
	color: transparent;
}

iframe {
	width: 100%;
	height: 100vh;
	border: none;
	scrolling: no; /* default: auto */
	resize: none;
	/*overflow: auto;*/
}

iframe>html>body {
	margin: auto;
}


/*  link style  */
a:link {
	color: black;
	font-style: normal;
	text-decoration: none;
}

a:visited {
	color: black;
	font-style: normal;
	text-decoration: none;
}

a:hover {
	color: lightpink;
	font-style: normal;
	text-decoration: underline;
}

h3 a:hover {
	color: black;
	font-style: normal;
	text-decoration: none;
}

*:focus {
	/* 마우스 포커싱 방지 */
	outline: none;
}

reply {
	font-size: 50%;
	font-weight: bold;
}

/*  class style  */
.margin {
	margin-bottom: 45px;
}

.bg-1 {
	background-color: #ffdcc7; /* Apricot */
	color: #ffffff;
}

.bg-2 {
	background-color: #eeebe7; /* Light Grey */
	color: #ffffff;
}

.bg-3 {
	background-color: #ffffff; /* White */
	color: #555555;
}

.bg-4 {
	background-color: #2f2f2f; /* Black Gray */
	color: #fff;
}

.container-fluid {
	padding-top: 50px;
	padding-bottom: 50px;
}

.navbar {
	padding-top: 15px;
	padding-bottom: 15px;
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
	font-size: 12px;
	letter-spacing: 5px;
}

.navbar-nav  li a:hover {
	color: #1abc9c !important;
}

#visit-ip {
	display: block;
	margin: 0 auto;
	text-align: center;
	background-color: #f8f8f8;
}

#visit-ip p {
	font-size: 10pt;
	color: black;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 20px;
	color: black;
}

#visit-counter {
	display: block;
	margin: 0 auto;
	margin-bottom: 30px;
	text-align: center;
	background-color: transparent;
}

#clock-box {
	display: block;
	margin: 0 auto;
	text-align: center;
	opacity: 0.7;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.time {
	display: block; /* div option */
	width: 100%;
	line-height: 50px;
	background-color: white;
	color: black;
	font-weight: bold;
	font-size: 16pt;
	text-align: center;
	margin: 0 auto;
	border: 0 none;
	cursor: default;
}

/* administrator menu - iframe */
.left-box {
	background-color: transparent;
	float: left;
	width: 20%;
	height: 100vh;
	resize: none;
	overflow: hidden;
}

.right-box {
	background-color: transparent;
	display: table;
	float: right;
	width: 80%;
	height: 100vh;
	resize: none;
	overflow: hidden;
}

.top-box {
	background-color: transparent;
	width: 100%;
	height: auto;
	resize: none;
	overflow: hidden;
}

.btm-box {
	background-color: transparent;
	width: 100%;
	/*height: 300px;*/
	resize: none;
	overflow: hidden;
}

/*  list(bbs) class style  */
.list-ip {
	font-size: 1vw;
}

.list {
	width: 80%;
	margin: 0 auto;
	border: 0px none;
}

.list td, .list th {
	font-size: 65%;
	padding: 5px 10px 5px 10px;
}

.list th {
	white-space: nowrap;
	font-weight: bold;
	background-color: #ffddcc;
}

.list td {
	background-color: #fff9e7e5;
	border-color: #cccccc;
}

.list tr:hover td {
	background-color: blanchedalmond;
	/*cursor: default;*/
}

.list-date, .list-no, .list-ip {
	white-space: nowrap;
}

.list-subj {
	width: 40%;
	text-align: left;
	min-width: 120px;
}

td.list-subj.re a {
	color: #ef998f;
}

/*  writefrm(bbs) class style  */
.writefrm {
	width: 50%;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	border: 0px none;
}

.writefrm td, .writefrm th {
	font-size: 70%;
	padding: 5px 20px 5px 20px;
	white-space: nowrap;
}

.writefrm th+td {
	/* th에 인접한 첫번째 td style */
	text-align: left;
}

.search {
	text-align: center;
	vertical-align: middle;
	height: 30px;
}

.button-box {
	display: inline;
	margin: 0 0 0 100% auto;
	text-align: right;
	vertical-align: middle;
	height: 30px;
}

.button {
	text-align: left;
	vertical-align: middle;
	height: 30px;
}

.checkbox-line {
	display: none;
}