<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>myweb</display-name>

	<!-- http://172.16.10.9:9090/myweb/ -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
	</welcome-file-list>

	<!-- 세션 유지 시간 설정 -->
	<session-config>
		<session-timeout>600</session-timeout>
	</session-config>
	
	<!-- MyController Servlet 등록 -->
	<servlet>
		<servlet-name>ControllerAction</servlet-name>
		<servlet-class>net.controller.MyController</servlet-class>
		<init-param>
			<param-name>propertyConfig</param-name>
			<param-value>D:/java_1113/workspace/myweb/WebContent/WEB-INF/command.properties</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ControllerAction</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	<!-- 한글 필터 (UTF-8 Encoding) -->
	<filter>
		<filter-name>encode</filter-name>
		<filter-class>net.utility.EncodeFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>encode</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	

</web-app>